.chatPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chatContainer {
  background-color: white;
  height: 60%;
  width: 50%;
}

.header {
  background-color: #61d7f8;
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header h2 {
  color: rgb(62, 72, 72);

  margin: 2.5vmax;
}

.header img {
  width: 5%;
  height: 50%;
  margin: 2.5vmax;
}

.closeBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.closeBtn > img {
  width: 30%;
  height: 1.5vmax;
  transition: all 0.3s;
}

.closeBtn > img:hover {
  transform: scale(1.2);
}

.chatBox {
  /* border: 0.2vmax solid black; */
  height: 70%;
  box-sizing: border-box;
  /* overflow-y: auto; */
}

.inputBox {
  height: 15%;
  box-sizing: border-box;
  display: flex;
}

#chatInput {
  width: 80%;
  border: none;
  padding: 2vmax;
  background-color: white;
  outline: none;
  font-size: 1.2vmax;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-top: 0.2vmax solid rgb(93, 89, 89);
}

.sendBtn {
  background-color: #61d7f8;
  color: white;
  border: none;
  width: 20%;
  transition: all 0.2s;
  cursor: pointer;
}

.sendBtn > img {
  width: 2vmax;
  transition: all 0.3s;
}

.sendBtn:hover {
  background-color: #9be9ff;
}

.sendBtn:hover img {
  transform: translateX(10px);
}
