.joinPage {
  background-color: rgb(31, 29, 29);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joinContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joinContainer > img {
  width: 10vmax;
}

.joinContainer > h1 {
  color: white;
  font-size: 2.5vmax;
  width: 25vmax;
  border-bottom: 0.2vmax solid white;
  font-family: "Roboto";
  text-align: center;
  padding: 1vmax;
  box-sizing: border-box;
}

.filter-black {
  filter: invert(88%) sepia(12%) saturate(689%) hue-rotate(156deg)
    brightness(96%) contrast(87%);
}

#joinInput {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  margin: 2vmax;
  box-sizing: border-box;
}

.joinBtn {
  width: 25vmax;
  padding: 1.5vmax;
  border: none;
  outline: none;
  font-size: 1.2vmax;
  background-color: #61d7f8;
  color: Black;
  font-family: "Roboto";
  transition: all 0.2s;
  cursor: pointer;
}

.joinBtn:hover {
  background-color: #9be9ff;
}
