.messageBox {
  /* width: 40%; */
  padding: 1vmax;
  margin: 0.7vmax;
  border-radius: 0.5vmax;
  display: inline-block;
  clear: both;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2vmax;
}

.right {
  float: right;
  background-color: #08baeb;
  color: black;
  text-align: right;
}

.left {
  float: left;
  background-color: gainsboro;
  color: black;
  text-align: left;
}
